<div class="container d-flex justify-content-around align-items-center p-5">
  <div class="card border border-dark p-3 m-5 w-50 card-custom1">
    <form action="/admin/profesors/add" method="post">
      <div>
        <h1 class="font-custom1">Profesor<span class="bg-custom5">.</span></h1>
        <div class="mb-3">
          <label for="Name" class="form-label font-custom1">Name</label>
          <input type="text" class="form-control" id="Name" name="Name" required />
        </div>
        <div class="mb-3">
          <label for="Last_name" class="form-label font-custom1">Last name</label>
          <input type="text" class="form-control" id="Last_name" name="Last_name" required />
        </div>
        <div class="mb-3">
          <label for="Department" class="form-label font-custom1">Department</label>
          <select class="form-control" name="Department" id="Department">
            {{#each departments}}
            <option value="{{cod_Depart}}">{{named}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label for="Code" class="form-label font-custom1">Code</label>
          <input type="number" class="form-control" id="Code" name="Code" required />
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label font-custom1">Password</label>
          <input type="password" class="form-control" id="Password" name="Password" required />
        </div>
        <button type="submit" class="btn w-100 font-custom1" style="background-color: #FF84E8;">Create</button>
      </div>
    </form>
  </div>
  <div class="card border border-dark p-3 m-5 w-50 card-custom1">
    <form id="Profesor_edit" action="" method="post">
      <div>
        <h1 class="font-custom1">Edit profesor<span class="bg-custom5">.</span></h1>
        <div class="mb-3">
          <label for="Name_edit" class="form-label font-custom1">Name</label>
          <input type="text" class="form-control" id="Name_edit" name="Name"/>
        </div>
        <div class="mb-3">
          <label for="Last_name_edit" class="form-label font-custom1">Last name</label>
          <input type="text" class="form-control" id="Last_name_edit" name="Last_name"/>
        </div>
        <div class="mb-3">
          <label for="Department_edit" class="form-label font-custom1">Department</label>
          <select class="form-control" name="Department" id="Department_edit">
            {{#each departments}}
            <option value="{{cod_Depart}}">{{named}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3">
          <label for="Code_edit" class="form-label font-custom1">Code</label>
          <input type="number" class="form-control" id="Code_edit" name="Code"/>
        </div>
        <div class="mb-3">
          <label for="Password_edit" class="form-label font-custom1">Password</label>
          <input type="password" class="form-control" id="Password_edit" name="Password"/>
        </div>
        <button id="Button_edit" type="submit" class="btn w-100 font-custom1" style="background-color: #FF84E8;"
          disabled>Confirm</button>
      </div>
    </form>
  </div>
</div>
<div class="container d-flex justify-content-center p-5">
  <div class="card shadow mt-4 w-100 card-custom1">
    <div class="card-body">
      <div class="card-text">
        <table class="table text-center rounded-3 font-custom1">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Last name</th>
              <th scope="col">Code</th>
              <th scope="col">Password</th>
              <th scope="col">Department</th>
              <th scope="col">Borrar</th>
              <th scope="col">editar</th>
            </tr>
          </thead>
          <tbody>
            {{#each profesors}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{namep}}</td>
              <td>{{lastname}}</td>
              <td>{{cod_prof}}</td>
              <td>{{passw}}</td>
              <td>{{cod_dep}}</td>
              <td><a href="/admin/profesors/delete/{{cod_prof}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="bg-dark"
                    class="bi bi-trash shake" viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                    </path>
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                    </path>
                  </svg>
                </a></td>
              <td><a onclick="edit('{{cod_prof}}','{{namep}}','{{lastname}}','{{passw}}','{{cod_dep}}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="bg-dark" class="bi bi-pencil"
                    viewBox="0 0 16 16">
                    <path
                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z">
                    </path>
                  </svg>
                </a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
  function edit(i, j, k, l, m) {
    var form = document.getElementById('Profesor_edit');
    var code = document.getElementById("Code_edit");
    var name = document.getElementById("Name_edit");
    var last_name = document.getElementById("Last_name_edit");
    var password = document.getElementById("Password_edit");
    var department = document.getElementById("Department_edit");
    var button = document.getElementById("Button_edit");
    code.value = i;
    name.value = j;
    last_name.value = k;
    password.value = l;
    department.value = m;
    form.action = "/admin/profesors/edit/" + i;
    button.disabled = false;
  }
</script>